@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #445069;
  font-family: "Quicksand", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-radius: 6px;
  background-color: #eee;
}

.dice {
  width: 50%;
  border-radius: 30px;
  border-color: #1b0d1c;
  text-align: center;
  position: relative;
}

.dice-app{
  display: flex;
}

h1 {
  text-align: center;
  text-shadow: 5px 0 #dbcf21;
  font-size: 5rem;
  color: #176fa9;
}

img {
  width: 40%;
  margin: 20px;
}

p{
  margin: 10px;
  font-size: 2rem;
}
button {
  width: 25%;
  margin-top: 20px;
  background-color: #176fa9;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 2rem;
}

button:hover{
  cursor: pointer;
}